@import "tailwindcss";

@media print {
  html, body, #root {
    height: auto !important;
    min-height: auto !important;
    overflow: visible !important;
  }

  @page {
    margin: 20mm;
    size: A4;
  }
  
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important;
  }
}
